.add-to-cart-button{
	width: 100%;
	background: #000000;
	border: 1px solid #E3E5E7;
	color: #F9FCFF;
	padding-top: 20px;
.add-to-cart-button:hover{
	border: 1px solid #bdf;
	box-shadow: inset 0 0 10px 2px #bdf;
}
<div class="add-to-cart-button">Add to cart</div>